# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS system files
.DS_Store
.AppleDouble
.LSOverride

# Environment variables
.env.local
.env.*.local

# Build output & caches
dist/
.output/
.vercel/
.netlify/
